
.intro{
    display: flex;
   margin-top: 6rem;
   height: 77vh;

}
.left{
   display: flex;
   position: relative;
    flex:1;
    flex-direction: column;
    margin-left: 20px;
   
}
.right{
    flex: 1;
    position: relative;
   
}

.right>*{
    position:absolute;
    z-index: 1;
}
.right>:nth-child(1){
    transform: scale(0.69);
    left: -15%;
    top:-9%;
}
.right>:nth-child(2){
    transform: scale(0.69);
    top: -4rem;
    left: -3rem;
}
.right>:nth-child(3){
    transform: scale(1.6);
   left: 28%;
}